*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-color:#00860b;
    --green-color: #049910;
    --green-opacity: #c1ffc6;
    --white-alfa-40: rgba(255,255,255,0.40);
    --white-alfa-25: rgba(255,255,255,0.25);
    --backdrop-filter: blur(5px);
    --padding: 5vh 15px;
    --box-shadow:2px 2px 5px rgba(0,0,0, 0.40);
}
body{
    background-image: url('../image/background.jpg');
    background-size: cover;

}
html{
    scroll-behavior:smooth;
}
button,
input{
    border:none;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-color: var(--main-color);
    color: #fff;
    cursor:pointer;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 1.3rem;
}
.btn::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background-color: #1b1a1a;
    left:0;
    top:0;
    transition: .5s;
    z-index: -10;
}
.btn:hover::before{
    width: 100%;
}
.empty{
    border-radius: .5rem;
    background-color:var(--white-alfa-25);
    border:2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    padding:1.5rem;
    text-align: center;
    font-weight: 100%;
    text-transform: capitalize;
    line-height: 2;
    color: var(--main-color);
    margin: 2rem auto;
}
.empty p{
    font-size: 28px;
    margin-bottom: 2rem;
}
input[type='submit']{
    cursor: pointer;
}
input[type='submit']{
    color: var(--main-color);
}
.box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: center;
    justify-content: center;
}
.box-container .box{
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    border-radius: .5rem;
}
.heading{
    text-align: center;
    line-height: 1.5;
}
.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: .5rem;
    width: 150px!important;
}
section{
    padding: 6%;
}
.flex-btn{
    display: flex;
    justify-content: space-between;
}
.flex-btn .btn{
    margin: .5rem;
}
.banner{
    margin-top:5rem;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    animation: banner 2s infinite alternate;
}

@keyframes banner{
    0%{
        background-image: url('../image/slider-1.jpg');
    }
    100%{
        background-image: url('../image/slider-2.png');
    }
}
.banner .detail{
     place-content: 4%;
     line-height: 1.5;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top:1rem;
}
.banner .detail span i{
    margin: 0 1rem;
}
.banner h1{
    font-size: 3rem;
    color: var(--main-color);
    text-transform: capitalize;
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    background-color: var(--green-color);
    position: relative;
}
::-webkit-scrollbar-track{
    background: transparent;
    -webkit-border-radius:20px;
    border-radius: 20px;
    height: 50px;
    margin: 10px 30px;
}
/*header*/
header{
    display: flex;
    left: 0;
    top:0;
    right: 0;
    margin: auto;
    height:100px;
    z-index: 151px;
    box-shadow: 0 5px 10px 0 #9be019;
    padding: 0;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
}
header .right{
    display:flex;
}
.title{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

#user-btn,
.toggle-btn{

    font-size: 2rem;
    color: #1b1a1a;
    cursor: pointer;
    transition: 6s;
}
.profile-detail{
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    position: absolute;
    top:125%;
    right: 2rem;
    border-radius: .5rem;
    width: 22rem;
    display: none;
    padding: 1.5rem .5rem;
    animation: .2s linear fadeIn;
    text-align: center;
    overflow: hidden;
}
@keyframes fadeIn{
    0%{
        transform: translateY(1rem);
    }
}
.profile-detail.active{
    display: inline-block;
}
.profile-detail p{
    padding-bottom: .7rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #666
}
.profile-detail .flex-btn{
    display: flex;
    justify-content: space-evenly;
}
.profile-detail .flex-btn .btn{
    margin: 0 .5rem;
}

/*sidebar*/
.sidebar{
    background-color: var(--white-alfa-25);
    backdrop-filter: var(--backdrop-filter);
    padding-top: 2rem;
    width: 20rem;
    height: 100vh;
    top: 0;
    left: -30rem;
    width: 0;
    box-shadow: 0 5px 10px 0px #aaa;
    overflow: auto;
    z-index: 1200;
    transition: .5s;  
}
.sidebar.active{
    left:0;
    width: 18.5rem;
}
.sidebar h3 {
    text-transform: uppercase;
    color: black;
    padding: .5rem  1rem;
    margin: .5rem 0;
}
.profile{
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar .profile{
    margin-top: 2.5rem;
}
.logo-img{
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid var(--main-color);
}
.sidebar .profile p{
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    font-size: 1.3rem;
}
.sidebar ul li {
    padding: 1rem;
    background-color: var(--white-alfa-25);
    border:2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    position: relative;
    transition: .3s;
    margin: .5rem 0;
}
.sidebar ul li::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 0%;
    width: 5px;
    background-color: var(--main-color);
    transition: all 200ms linear;
}
.sidebar ul li:hover::before{
    height: 100%;
}
.sidebar ul li i {
    color: black;
    font-size: 20px;
    margin-right:2rem;
}
.sidebar ul li a{
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}
.social-links{
    padding-bottom: 3rem;
    text-align: center;
}
.social-links i{
    background-color: var(--white-alfa-25);
    border:2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin: .3rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    line-height: 40px;
    text-align: center;
    transition: .5s;
}
.social-links i:hover{
    background-color: var(--green-color);
    border: 2px solid var(--main-color);
}
.fu{
    text-align: center;
}
